name: CI Pipeline

on:
  push:
    branches: [ "master", "staging" ]
    tags: 
     - "v*" 

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set Image Tags
        id: meta
        run: |
          SHA_TAG=$(git rev-parse --short HEAD)
          echo "SHA_TAG=$SHA_TAG" >> $GITHUB_OUTPUT
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            VERSION_TAG=${GITHUB_REF#refs/tags/}
            echo "VERSION_TAG=$VERSION_TAG" >> $GITHUB_OUTPUT
          fi

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            oluwatobiano/todo-backend:latest
            oluwatobiano/todo-backend:${{ steps.meta.outputs.SHA_TAG }}
            oluwatobiano/todo-backend:${{ steps.meta.outputs.VERSION_TAG }}